* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* top-bar */

.top-bar .topbar-left .topbar-left-infor{
    margin-left: -53px;
    margin-top: 16px;
    column-gap: 10px;
}
.top-bar .topbar-right .topbar-right-infor{
    margin-right: -14px;
    margin-top: 7px;
    column-gap: 10px;
}
.container .topbar-left .topbar-left-infor{
    display: flex;
}
.container .topbar-right .topbar-right-infor{
    display: flex;
}
ul{
    list-style: none;
}
.container .topbar-left .topbar-left-infor li a{
    text-decoration: none;
    color: black;
}
.container .topbar-right .topbar-right-infor li a{
    text-decoration: none;
    color: black;
}
/* top-header-menu */
.header-top{
    height: 50px;
    margin-top: -30px;
    position: relative;
}
.header-top-menu{
    margin-top: 10px;
   
}


/* top-header */

/* top-header-left */
#top-head {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 150px;
    padding-bottom: 100px;
    
}
.landing-section {
    padding: 0;
    margin-top: 97px;
    transition: all 300ms;
}
.landing-section .container {
    width: 1170px;
    height: 529px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    height: 100%;
    margin-right: -15px;
    margin-left: -15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
#top-head .col-xs-12.col-lg-8 {
    align-items: flex-end;
}
#top-head .col-xs-12 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.wrap-block-head-text {
    margin-right: 0;
}
.wrap-block-head-text::before{
    position: absolute;
    content: '';
    background: url(../images/R-removebg-preview.png) center center/contain no-repeat ;
    display: block;
    left: -12%;
    top: -9%;
    bottom: -110px;
    width: 35vw;
    height: 33vw;
}
.wrap-block-head-text {
    position: relative;
    max-width: 555px;
    width: 100%;
    margin-bottom: 90px;
    margin-right: 15%;
}
.block-head-text {
    margin-left: 124px;
    padding: 15px 15px;
    background: var(--warning);
    z-index: 1;
    position: relative;
    top: 207px;
    left: 225px;
    margin-right: 36px;
    border-radius: 10px;
}
.block-head-text h1 {
    font-size: 26px;
    line-height: 1.25;
    margin: 0 0 10px;
    color: var(--accent-color);
    text-transform: uppercase;
    font-weight: 700;
}
/* top-header-right */
#top-head .col-xs-12 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.wrap-form-head-register {
    position: relative;
}
.form-head-register {
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0 0 20px 0 rgba(29,31,89,.1);
    padding: 35px 25px;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.form-head-register form .form-group {
    margin-bottom: 20px;
}
.form-head-register form input.form-control {
    border: 1px solid var(--border-color);
    line-height: 24px;
    padding: 12px 15px;
    border-radius: 4px;
    margin-bottom: 0;
    height: auto;
}

.switch-type-login {
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
.signin-options{
    justify-content: center;
    column-gap: 10px;
}
.signin-options .btn--facebook{
    border: 2px solid gray;
    width: 80px;
    height: 39px;
    background-color: aqua;
    margin-top: 8px;
}
.signin-options .btn--google{
    border: 2px solid gray;
    width: 80px;
    background-color: aqua;
}


