html,body{
    background-image: url('../images/R.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    font-family: 'Numans', sans-serif;
    }
    
    .container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 116vh;
    margin-top: auto;
    margin-bottom: auto;
    width: 451px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 28px;
    top: -15px;
    column-gap: 20px;
    }
    .social_icon .fa{
        width: 40px;
        height: 40px;
    }
    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    .input-group-prepend .lay-ma{
        width: 100px;
        border-radius: 5px;
        background-color: #FFC312;
    }
    .input-group-prepend .lay-ma:hover{
    color: black;
    background-color: white;
    }
    .signup{
    color: black;
    width: 100px;
    }
    
    .signup:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
    .form-group {
    margin-bottom: 0.8rem;
    .card-footer{
        margin-bottom: 20px;
        }
    
    
}