.doctor-thumb img{
    width: 100%;
    height: 255px;
}

.doctor-thumb{
    position: relative;
}
.descInfo{
    background-color: rgba(251, 243, 243, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-style: italic;
    color: #666;
    font-weight: 600;
    padding-top: 30px; 
    display: none;
}
.teacher-item:hover .descInfo{
    display: block;
}
.doctor-thumb .descInfo .descDetail {
    height: 90%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.doctor-thumb .buttonCtrl {
    position: absolute;
    bottom: 5px;
}
.buttonCtrl .btn-create-class{
    font-size: 10px;
}
.info{
    width: 100%;
   
}
.info h4 a{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.42857143;
    color: aliceblue;
    text-decoration: none;
    font-size: 22px;
}
.textOverflow {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 44px;
}
.angle-double-right{
    list-style: none;
}
.angle-double-right{
    padding-left: 0px;
}
.angle-double-right li{
    color: aliceblue;
    font-size: 15px;
    font-style: italic;
}
/* right */
.widget-title{
    padding-bottom: 20px;
}
.line-bottom-theme-colored-2:after {
    border-radius: 10px;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}
.list-border li{
    padding-bottom: 10px;
    border-bottom: 1px dashed gray;
}
.list-border li a{
    color: gray;
}
.widget .tags a {
    border: 1px solid #d3d3d3;
    display: inline-block;
    font-size: 11px;
    margin: 5px 4px 5px -2px;
    padding: 5px 10px;
    text-decoration: none;
}
.pagination {
    padding-left: 0;
    margin: 20px 0;
    padding-bottom: 10px;
}
.pagination li{
    border: 0.5px solid gray;
    width: 40px;
    height: 35px;
}
.pagination.theme-colored li:hover {
    background-color: #666;
    border: 1px solid transparent;
   
}
.pagination li a{
    margin-left: 15px;

    
}
.pagination .active{
    background-color: #1E3148;
    
}


